{% extends 'myapp/base.html' %}
{% block content %}
<h2>Employee show</h2>
{% if list %}
<table>
    <tr>
        <th>Name</th>
        <th>City</th>
    </tr>
    {% for emp in list %}
    <tr>
        <td>{{ emp.name }}</td>
        <td>{{ emp.city }}</td>
        <td>
            <a href="/myapp/employee/update/{{ emp.id }}">Edit</a>
        </td>
        <td>
            <a href="/myapp/employee/delete/{{ emp.id }}">Delete</a>
        </td>
        <td>
            <a href="/myapp/employee/view/{{ emp.id }}">View</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h1>there is no Employee yet</h1>
{% endif %}
{% if messages %}
{% for message in messages %}
<small {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</small>
{% endfor %}
{% endif %}

{% endblock %}
